{% extends 'base.html.twig' %}

{% block title %}Hello AvisController!{% endblock %}

{% block body %}
    {% for movi in movie.results %}
    <div class="card" style="width: 18rem; padding: 10px">
        <div class="card-body">
            <h5 class="card-title"><a> {{ movi.author}}</a></h5>
            <h5 class="card-title"><a> {{ movi.content}}</a></h5>
            <h5 class="card-title"><a> {{ movi.created_at}}</a></h5>
        </div>
    </div>
    {% endfor %}
{% endblock %}
