{% extends 'base.html.twig' %}

{% block title %}Hello AvisController!{% endblock %}

{% block body %}
    {% for movi in movie.results %}
    <div class="card" style="padding: 10px; margin: 20px">
        <div class="card-body">
            <h3 class="card-title"><a>Auteur: {{ movi.author}}</a></h3><br>
            <h5 class="card-title"><a> {{ movi.content}}</a></h5><br>
            <h6 class="card-title"><a>Date: {{ movi.created_at}}</a></h6><br>
        </div>
    </div>
    {% endfor %}
{% endblock %}
