{% extends 'base.html.twig' %}

{% block title %}Hello AcceuilController!{% endblock %}

{% block body %}
    <a href="{{ path('app_register', { }) }}" class="btn btn-primary btn-sm"> Register </a>
    <a href="{{ path('app_login', { }) }}" class="btn btn-primary btn-sm"> Connect </a>

{% endblock %}
