{% extends 'base.html.twig' %}


{% block body %}
    <div class="card" style="width: 18rem; padding: 10px">
        <img src="https://image.tmdb.org/t/p/original{{ movie.backdrop_path }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"><a> {{ movie.original_title }}</a></h5>
            <p class="card-text">{{ movie.overview }}</p>
        </div>
    </div>

{% endblock %}
